body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(27, 66%, 92%);
  color: hsl(25, 47%, 15%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.head-container {
  background-color: hsl(10, 79%, 65%);
  color: white;
  padding: 1.2em;
  margin-bottom: 1em;
  border-radius: 1em;
  text-align: left;
  font-size: 0.8em;
  background-image: url('src/assets/logo.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 50px 50px;
}

.balance {
  font-size: 1.8em;
  font-weight: 700;
}

.main-container {
  max-width: 700px;
  background-color: hsl(33, 100%, 98%);
  text-align: left;
  border-radius: 1em;
  padding: 0.5em 1.5em 1.5em;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  color: black;
  text-align: center;
}

.bar {
  width: 2.5em;
  background-color: hsl(10, 79%, 65%);
  margin: 0.5em;
  border-radius: 0.25em;
  transition: opacity 0.25s ease-in-out;

  &.current {
    background-color: hsl(186, 34%, 60%);
  }

  &:hover {
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
  }
}

.day-label {
  color: hsl(28, 10%, 53%);
  font-size: 0.9em;
}

.price-label {
  background-color: hsl(25, 47%, 15%);
  padding: 5px;
  font-weight: 700;
  color: white;
  border-radius: 0.25em;
  font-size: 0.8em;
}

hr {
  border: none;
  border-bottom: 1px solid hsl(28, 10%, 53%);
  margin: 2em 0;
}

.small {
  font-size: 0.9em;
  color: hsl(28, 10%, 53%);
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  text-align: right;
}
